{% extends "layout.html" %}
{% block content %}
<script type=text/javascript>
  refreshTimer = null;
  refreshInterval = 1000;
  
  function refreshStatus() {
    $.ajax({
        type: "GET",
        url: $SCRIPT_ROOT + "/status/",
        contentType: "application/json; charset=utf-8",
        data: { echoValue: $('input[name="statusBtn"]').val() },
        success: function(data) {
            $('#echoResultStatus').text(data.value);        
            $('#echolat').text(data.lat);
            $('#echolon').text(data.lon);
            $('#echopm_10').text(data.pm_10);
            $('#echopm_10').css("background-color", data.pm_10_color);
            $('#echopm_25').text(data.pm_25);
            $('#echopm_25').css("background-color", data.pm_25_color);
            $('#echoerror').text(data.error_msg);				
        }
    });     
  };

  function periodicRefresh() {
    refreshStatus();

    setTimeout(periodicRefresh, refreshInterval);
  };

  function startPeriodicRefresh(seconds) {
    if (refreshTimer)
        clearTimeout(refreshTimer);
    
    refreshInterval = seconds * 1000;
    
    refreshTimer = setTimeout(periodicRefresh, refreshInterval);
  }

  $(function() {
    $('#refreshRate').change(function() {
        startPeriodicRefresh($('#refreshRate').val());
    });
    startPeriodicRefresh(1);
 
    $("#startBtn").click(function() {
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/start/",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="startBtn"]').val() },
            success: function(data) {
                $('#echoResult').text(data.value);
                refreshStatus();
            }
        });     
    });
    $("#stoppBtn").click(function() {
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/stopp/",
            contentType: "application/json; charset=utf-8",
            data: { echoValue: $('input[name="stoppBtn"]').val() },
            success: function(data) {
                $('#echoResult').text(data.value);
                refreshStatus();
            }
        });     
    });
  });
</script>
<br />
<button class="ui-btn ui-corner-all" type='button' id='startBtn' name='startBtn'>STARTE AUFZEICHNUNG</button>
<button class="ui-btn ui-corner-all" type='button' id='stoppBtn' name='stoppBtn'>STOPPE AUFZEICHNUNG</button>
<br />
<br />
<strong>Feinstaubwerte und GPS Position:</strong><br />

<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
     <thead>
       <tr>
         <th>PM 10</th>
         <th>PM 25</th>
         <th>Latitude</th>
         <th>Longitude</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td id='echopm_10'></td>
         <td id='echopm_25'></td>
         <td id='echolat'></td>
         <td id='echolon'></td>
       </tr>
	 </tbody>
</table>
<br />
<br />
<strong>Weitere Informationen:</strong><br />
<div style="background-color:red;" id='echoerror'></div>
<div id='echoResultStatus'></div>
<div id='echoResult'></div>
<br />
<br />
<strong>Aktualisierung der Anzeige:</strong><br />
<select id="refreshRate" data-native-menu="false">
    <option value="1">Jede Sekunde</option>
    <option value="5">Alle fünf Sekunden</option>
    <option value="30">Alle 30 Sekunden</option>
    <option value="300">Alle fünf Minuten</option>
</select>
<br/>
<br/>
<a href="https://www.umweltbundesamt.de/themen/luft/luftschadstoffe/feinstaub">Grenzwerte Umweltbundesamt</a>
{% endblock %}